<h1>HERE IS A LIST OF ALL PLANES!</h1>


<section id="planes-index"></section>




<div class="container">
  <div class="row">
  <% @planes.each do |plane| %>
   <%= render partial: "plane_card", locals: {plane: plane} %>
  <% end %>
   </div>
</div>



<%= link_to "Add a new plane", new_plane_path, :class => "btn btn-default" %>


