

<ul>

    <li>
      <h2> <%= @plane.model %> </h2>
    </li>
    <li>
      <p>
      <%= @plane.description %>
      </p>
    </li>
    <li>
      <%= cl_image_tag(@plane.image) %>
    </li>


</ul>

