<h1>Welcome to Co-Pilot</h1>
<p>Here you can view and book planes
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<br>
<%= link_to 'Sign in', user_session_path %>
<br>
<%= link_to 'Sign up', new_user_registration_path %>
<br>
<br>
<%= link_to 'view all available planes', planes_path %>
<br>

